In [2]:
import pandas as pd
import numpy as np
import json
import csv

# 1

In [3]:
dfs = []
for file in ('data/proj3_data1.json','data/proj3_data2.json','data/proj3_data3.json'):
    data = pd.read_json(file)
    dfs.append(data)

df = pd.concat(dfs, ignore_index=True)
df.to_json('proj3_ex01_all_data.json')
df

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v

# 2

In [4]:
nans = []
for col in df.columns:
    sum = df[col].isna().sum()
    if sum > 0:
        nans.append([col, sum])
print(nans)

with open('proj3_ex02_no_nulls.csv', 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerows(nans)

[['doors', 2], ['fuel_consumption', 4]]

# 3

In [5]:
with open('data/proj3_params.json') as json_file:
    json_params = json.load(json_file)
columns = json_params['concat_columns']

new_column = []
for index, row in df.iterrows():
    text = ""
    for col in json_params['concat_columns']:
        text += row[col]
        text += " "
    text = "".join([text[i] for i in range(len(text)-1)])
    new_column.append(text)

df['description'] = new_column
df.to_json('proj3_ex03_descriptions.json')
json_params

{'concat_columns': ['make', 'model', 'engine'],
 'id_vars': ['make', 'model'],
 'join_column': 'engine',
 'int_columns': ['doors', 'displacement', 'horsepower', 'cylinders'],
 'grouping_column': 'make',
 'pivot_index': 'make',
 'pivot_columns': 'fuel_type',
 'pivot_values': 'fuel_consumption',
 'aggregations': [['displacement', 'min'],
  ['displacement', 'max'],
  ['fuel_consumption', 'mean']]}

# 4

In [6]:
df1 = pd.read_json('data/proj3_more_data.json')
join_column = json_params['join_column']
df_joined = pd.merge(df, df1, on=join_column, how='left')
df_joined.to_json('proj3_ex04_joined.json')
df_joined

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description,displacement,horsepower,fuel_type,cylinders,emissions_class
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI,1498.0,150.0,gasoline,4.0,Euro 6d
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo,1998.0,184.0,gasoline,4.0,Euro 6d
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir,875.0,85.0,gasoline,2.0,Euro 6d-TEMP
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech,1199.0,130.0,gasoline,3.0,Euro 6d
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4,NaN,NaN,NaN,NaN,NaN
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo,1197.0,110.0,gasoline,4.0,Euro 6d-TEMP
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost,2261.0,350.0,gasoline,4.0,Euro 6d-TEMP
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI,1968.0,150.0,diesel,4.0,Euro 6d-TEMP
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6,3000.0,450.0,gasoline,6.0,Euro 6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro,1984.0,245.0,gasoline,4.0,Euro 6
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered,1969.0,415.0,hybrid,4.0,Euro 6
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP,1598.0,165.0,gasoline,4.0,Euro 5
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v,NaN,NaN,NaN,NaN,NaN
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v,NaN,NaN,NaN,NaN,NaN

# 5

In [7]:
for i in df_joined.index:
    row = df_joined.loc[i]
    name = row['description'].lower().replace(' ','_')
    row = row.replace(np.nan, None)
    row = row.drop(['description']).to_dict()
    # df_joined.loc[i].to_json(f'ex05_{name}.json')
    with open(f'proj3_ex05_{name}.json', 'w') as outfile:
        json.dump(row, outfile)
for i in df_joined.index:
    row = df_joined.loc[i]
    row = row.replace(np.nan, None)
    name = row['description'].lower().replace(' ','_')
    row = row.drop(['description']).to_dict()
    for c in json_params['int_columns']:
        if pd.notnull(row[c]):
            row[c] = int(row[c])
        else:
            row[c] = None
        
    with open(f'proj3_ex05_int_{name}.json', 'w') as outfile:
        json.dump(row, outfile)

# 6

In [8]:
print(json_params['aggregations'])
dict = {}
for column, aggregation in json_params['aggregations']:
    dict[f'{aggregation}_{column}'] = df_joined[column].agg(aggregation)
print(dict)
with open("proj3_ex06_aggregations.json", "w") as outfile: 
    json.dump(dict, outfile)

[['displacement', 'min'], ['displacement', 'max'], ['fuel_consumption', 'mean']]
{'min_displacement': 875.0, 'max_displacement': 3000.0, 'mean_fuel_consumption': 6.414285714285714}

# 7

In [9]:
df_grouped = df_joined.select_dtypes(include='number')
df_grouped = df_grouped.groupby(df_joined[json_params['grouping_column']]).mean()
df_grouped = df_grouped[df_joined.groupby(df[json_params['grouping_column']]).size() > 1]
df_grouped.to_csv('proj3_ex07_groups.csv', index=True, header=True)
df_grouped

,doors,top_speed,acceleration,fuel_consumption,displacement,horsepower,cylinders
make,,,,,,,
Audi,5.000000,228.5,6.75,6.00,1741.0,197.5,4.0
Fiat,3.666667,165.0,13.30,5.10,875.0,85.0,2.0
Peugeot,5.000000,200.0,9.55,5.30,1398.5,147.5,3.5
Renault,5.000000,202.5,9.45,5.95,1461.0,115.0,4.0
Volkswagen,4.500000,220.0,7.75,5.50,1733.0,150.0,4.0
Volvo,4.500000,235.0,7.10,6.30,1969.0,415.0,4.0

# 8

In [14]:
pivot_index = json_params['pivot_index']
pivot_columns = json_params['pivot_columns']
pivot_values = json_params['pivot_values']
print(pivot_index, pivot_columns, pivot_values)

df_pivot = df_joined.groupby([pivot_index, pivot_columns])[pivot_values].max()
df_pivot = df_pivot.reset_index().pivot(index=pivot_index, columns=pivot_columns, values=pivot_values)
df_pivot = df_pivot[df_pivot.notnull().any(axis=1)]

df_pivot.to_pickle('proj3_ex08_pivot.pkl')
df_pivot

make fuel_type fuel_consumption

fuel_type   diesel  gasoline  hybrid
make
Audi           NaN       6.0     NaN
Ford           NaN      10.2     NaN
Opel           NaN       5.5     NaN
Peugeot        NaN       5.6     NaN
Porsche        NaN      11.8     NaN
Renault        6.5       NaN     NaN
Volkswagen     6.0       5.0     NaN
Volvo          NaN       NaN     6.6

In [50]:
id_vars = json_params['id_vars']
df_melt = pd.melt(df_joined, id_vars=id_vars)

df_melt.to_csv('proj3_ex08_melt.csv', index=False, header=True)
df_melt

           make     model         variable         value
0          Audi        A3        body_type     hatchback
1           BMW  3 Series        body_type         sedan
2    Volkswagen      Golf        body_type     hatchback
3       Renault      Clio        body_type     hatchback
4          Fiat       500        body_type     hatchback
..          ...       ...              ...           ...
211       Volvo       S60  emissions_class        Euro 6
212     Renault    Megane  emissions_class  Euro 6d-TEMP
213     Peugeot      3008  emissions_class        Euro 5
214        Fiat     Panda  emissions_class           NaN
215        Fiat     Punto  emissions_class           NaN

[216 rows x 4 columns]

In [17]:
wide_df = pd.read_csv('proj3_statistics.csv')
print(wide_df)
grouping_var = wide_df.columns[0]
wide_df = pd.wide_to_long(wide_df, 
                          wide_df.columns[1:].str.extract(r'^([^_]+)_', expand=False).unique(), 
                          i = grouping_var, 
                          j = 'Prefix', 
                          sep = '_')
wide_df.to_pickle('proj3_ex08_stats.pkl')
wide_df

   Country  Audi_2019  Audi_2020  BMW_2019  BMW_2020  Volkswagen_2019  \
0   Poland         12         14        21        25               32
1  Germany         24         26        31        35               44
2   France         20         22        29        33               36
3    Spain         16         18        25        29               40
4    Italy         18         20        27        31               48

   Volkswagen_2020  Renault_2019  Renault_2020
0               36            22            20
1               48            17            15
2               40            28            26
3               44            19            17
4               52            31            29

                Audi  BMW  Volkswagen  Renault
Country Prefix
Poland  2019      12   21          32       22
Germany 2019      24   31          44       17
France  2019      20   29          36       28
Spain   2019      16   25          40       19
Italy   2019      18   27          48       31
Poland  2020      14   25          36       20
Germany 2020      26   35          48       15
France  2020      22   33          40       26
Spain   2020      18   29          44       17
Italy   2020      20   31          52       29